.img-card{
    max-width: 300px;
    margin:15px;
    img{transform:scale(1,1);transition: all 0.2s ease-out;}
    img:hover{transform:scale(1.5,1.5); filter: drop-shadow(0 0 0.75rem rgba(0,0,0,0.5)); }
    .inner-pic{
        max-width: 300px;
        border-radius: 5px;
    }
}